html {
  --text-light: #FEFEFE;
  --text-dark: #5E5E5E;
  --primary: purple;
  --accent-black: black;
  --accent-dark: #291032;
  --accent-light: purple;
  --secondary: #ca03ca;
  --tertiary: magenta;
  --success: #04A777;
  --warning: #FFCB77;
  --error: #FE6D73;
  font: 16px monospace;
}

body {
  background: var(--primary);
  color: var(--text-light);
  width: 100dvw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: [left] 1fr [left-main] 8fr [right-main] 1fr [right];
  gap: 2rem;
  align-content: center;
}

button {
  font: 24px monospace;
  border: 2px solid var(--accent-dark);
  background: var(--primary);
  color: var(--text-light);
}

button:hover {
  border: 2px solid var(--accent-light);
  background: var(--secondary);
}

body>.card {
  grid-column: left-main / right-main;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

table {
  border: 1px solid var(--secondary);
  width: 100%;
}

th,
td {
  border: 2px solid var(--secondary);
  padding: 4px;
  background: var(--accent-dark);
}

label {
  background: var(--primary);
  border: 3px solid var(--accent-black);
  align-self: start;
  padding: 10px;
  font-weight: bold;
}

input,
textarea {
  background: var(--primary);
  font: 1.25rem monospace;
  font-weight: bold;
  color: var(--text-light);
  border: 3px solid var(--accent-black);
}

::placeholder {
  font: italic 1rem monospace;
  color: var(--text-light);
}

textarea:hover,
textarea:focus,
input:hover,
input:focus {
  border: 3px solid var(--tertiary);
  background: var(--accent-dark);
}

form input[type="submit"] {
  grid-column: 1 / span 2;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  text-shadow: 5px 5px 2px black;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  z-index: -1;
  background-image: url("wavey.svg");
  background-size: 150%;
  animation: scrollBackground 10s linear alternate infinite;
}

@keyframes scrollBackground {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.card {
  color: var(--text-light);
  background: var(--primary);
  border-top: 7px solid var(--secondary);
  border-left: 5px solid var(--secondary);
  box-shadow: 10px 10px black;
  margin: 0;
  padding: 1rem;
  max-height: fit-content;
}



.nameplate {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100px;

  h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  h2 {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
  }
}

.accordion {
  .toggle {
    font-size: 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    position: relative;
    background: transparent;
    border: none;
    color: var(--text-light);
  }

  .toggle:after {
    position: absolute;
    display: inline-block;
    font-weight: bold;
    content: "+";
    right: 0px;
    top: 0px;
  }

  .content {
    overflow: hidden;
    max-width: 0px;
    max-height: 0px;
    transition: max-height 0.25s ease-in-out;
  }
}

.accordion:hover {
  background: var(--secondary);
}

.accordion-open {
  background: var(--secondary);

  .toggle:after {
    content: "-";
  }

  .content {
    margin-top: 1rem;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
  }
}

.accordion-open:hover {
  background: var(--primary);
}