html {
  --text-light: #FEFEFE;
  --text-dark: #5E5E5E;
  --primary: purple;
  --accent-black: black;
  --accent-dark: #291032;
  --accent-light: purple;
  --secondary: #ca03ca;
  --tertiary: magenta;
  --success: #04A777;
  --warning: #FFCB77;
  --error: #FE6D73;
  font: 16px monospace;
}

body {
  background: var(--primary);
  color: var(--text-light);
  width: 100dvw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: grid;
  overflow: auto;
  grid-template-rows: auto;
  grid-template-columns: [left] 20dvw [left-main] 60dvw [right-main] 20dvw [right];
  row-gap: 2rem;
  align-content: center;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    z-index: -1;
    background-image: url("wavey.svg");
    background-size: 150%;
    animation: scrollBackground 10s linear alternate infinite;
  }

  .card {
    grid-column: left-main / right-main;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-height: fit-content;

    .title {
      margin: 1rem;
    }
  }
}

button {
  font: 24px monospace;
  border: 2px solid var(--accent-dark);
  background: var(--primary);
  color: var(--text-light);
}

a:link,
a:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover,
a:active {
  background: var(--accent-dark);
}

button:hover {
  border: 2px solid var(--accent-light);
  background: var(--secondary);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {}
}

.links {
  margin: 1rem;

  li+li {
    margin-top: 1rem;
  }
}

.shadow {
  color: var(--text-light);
  background: var(--primary);
  border-top: 7px solid var(--secondary);
  border-left: 5px solid var(--secondary);
  box-shadow: 10px 10px black;
}

form {
  margin: 1rem;

  .input-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .input-group+.input-group {
    margin-top: 1rem;
  }

  input[type="submit"] {
    grid-column: 1 / span 2;
  }
}

label {
  align-self: start;
  padding: 10px;
  font-weight: bold;
  border: none;
  color: inherit;
}

input,
textarea {
  color: inherit;
  background: var(--primary);
  font: 1.25rem monospace;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  margin: 0;
  min-width: 0;
}

::placeholder {
  font: italic 1rem monospace;
  color: var(--text-dark);
}

textarea:hover,
textarea:focus,
input:hover,
input:focus {
  background: var(--accent-dark);
}

table {
  display: block;
  margin: 1rem;
  overflow: auto;
  border: 1px solid var(--secondary);
  width: calc(100% - 2rem);
}

table tr:nth-child(even) {
  background: var(--accent-light);
}

th,
td {
  border: 2px solid var(--secondary);
  padding: 4px;
  background: var(--accent-dark);
}


h1,
h2 {
  margin: 0;
  padding: 0;
  text-shadow: 5px 5px 2px black;
}


@keyframes scrollBackground {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.nameplate {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100px;

  h1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  h2 {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
  }
}

.accordion {
  >.toggle {
    font-size: 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    position: relative;
    background: transparent;
    border: none;
    color: var(--text-light);
    padding: 0.75rem;
  }

  >.toggle:after {
    position: absolute;
    display: inline-block;
    font-weight: bold;
    content: "+";
    right: 0.75rem;
    top: 0.75rem;
  }

  >.content {
    overflow: hidden;
    max-width: 0px;
    max-height: 0px;
    transition: max-height 0.25s ease-in-out;
  }

  &:hover {
    background: var(--tertiary);
  }
}

.accordion-open {
  >.toggle:after {
    content: "-";
  }

  >.content {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
  }

  &:hover {
    background: var(--tertiary);
  }
}

.settings {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  width: calc(100% - 2rem);
}

.link-edit {
  h2 {
    margin-left: 1rem;
  }

  form+form {
    margin-top: 2rem;
  }

  +.link-edit {
    margin-top: 2rem;
  }
}


@media screen and (max-width: 600px) {
  body {
    grid-template-columns: [left] [left-main] 100dvw [right-main] [right];
  }

  form {
    .input-group {
      grid-template-columns: 100%;
    }

    input[type="submit"] {
      grid-column: 1;
    }
  }
}
