{% extends "base.html" %}
{% block head %}
  <title>Aidan Courtney</title>
	<script defer src="index.js"></script>
{% endblock %}
{% block body %}
  <div class="bg"></div>
  <div class="frame">
    <div class="nameplate">
      <h1>
        Aidan<br>
        Courtney
      </h1>

      <h2>
        Python<br>
        Dev
      </h2>
    </div>

    <div class='accordion' data-accordion="contact">
      <button data-accordion="contact" class="toggle">Contact</button>
      <div data-accordion="contact" class="content">
        <ul>
          <li>631-704-8994</li>
          <li>contact@aidan.software</li>
        </ul>
      </div>
    </div>

    <div class="accordion" data-accordion="links">
      <button data-accordion="links" class="toggle">Links</button>
      <div data-accordion="links" class="content">
        <ul>
          <li>github</li>
          <li>linkedin</li>
        </ul>
      </div>
    </div>

    <div class='accordion' data-accordion="message">
      <button data-accordion="message" class="toggle">Send a message</button>
      <div data-accordion="message" class="content">
        <form action="/api/messages" method="post">

          <label for="email">email</label>
          <input type="email" name="email" placeholder="EMail"></input>

          <label for="phone">phone</label>
          <input type="num" name="phone" placeholder="Phone Number"></input>

          <label for="message">message</label>
          <textarea name="message" placeholder="Message"></textarea>

          <button>Send</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
