{% extends "base.html" %}
{% block head %}
<script defer src="index.js"></script>
<script defer src="admin.js"></script>
<title>Admin</title>
{% endblock %}
{% block body %}
<div class="background"></div>

<div class="card">
  <h1>Admin</h1>
</div>

<div class="card accordion accordion-open" data-accordion="active">
  <button class="toggle" data-accordion="active">Active</button>
  <div class="content" data-accordion="active">
    <table>
      <tr>
        <th>email</th>
        <th>phone</th>
        <th>received_at</th>
        <th>message</th>
        <th>archive</th>
      </tr>
      {% for submission in active_submissions %}
      <tr>
        <td>{{ submission.email }}</td>
        <td>{{ submission.phone }}</td>
        <td>{{ submission.received_at }}</td>
        <td>
          <pre>{{ submission.message }}</pre>
        </td>
        <td>
          <form action="/api/messages/archive" method="post">
            <input type="num" name="id" value="{{ submission.id }}" hidden></input>
            <input type="submit" value="X"></input>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="card accordion" data-accordion="archived">
  <button class="toggle" data-accordion="archived">Archived</button>
  <div class="content" data-accordion="archived">
    <table>
      <tr>
        <th>email</th>
        <th>phone</th>
        <th>received_at</th>
        <th>message</th>
        <th>archived_at</th>
        <th>unarchive</th>
      </tr>
      {% for submission in archived_submissions %}
      <tr>
        <td>{{ submission.email }}</td>
        <td>{{ submission.phone }}</td>
        <td>{{ submission.received_at }}</td>
        <td>
          <pre>{{ submission.message }}</pre>
        </td>
        <td>{{ submission.archived_at }}"</td>
        <td>
          <form action="/api/messages/unarchive" method="post">
            <input type="num" name="id" value="{{ submission.id }}" hidden></input>
            <input type="submit" value="X"></input>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="card accordion" data-accordion="settings">
  <button class="toggle" data-accordion="settings">Settings</button>
  <div class="content" data-accordion="settings">
    <button class="push-subscribe">Subscribe to web push notifications</button>
  </div>
</div>
{% endblock %}