<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color">
  <link rel="stylesheet" href="styles.css">
  <script>
    let style = getComputedStyle(document.documentElement).getPropertyValue('--primary')
    let elem = document.querySelector('meta[name="theme-color"]')
    console.log(`found meta elem ${elem}`)
    console.log(document.documentElement)
    elem.content = style
    console.log(`set meta.content to ${style}`)
  </script>
  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="background"></div>
  {% block body %}
  {% endblock %}
</body>

</html>
