{% extends "base.html" %}
{% block head %}
<title>Aidan Courtney</title>
<script defer src="index.js"></script>
{% endblock %}
{% block body %}
<div class="card nameplate shadow">
  <h1>
    Aidan<br>
    Courtney
  </h1>

  <h2>
    Python<br>
    Dev
  </h2>
</div>

{% for category, links in links_by_category.items() %}
<div class='card accordion shadow' data-accordion="{{ category.name }}">
  <button data-accordion="{{ category.name }}" class="toggle">{{ category.name|title }}</button>
  <div data-accordion="{{ category.name }}" class="content">
    <ul class="links">
      {% for link in links %}
      <li><a class="shadow" href="{{ link.href }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

<div class='card accordion shadow' data-accordion="message">
  <button data-accordion="message" class="toggle">Send a message</button>
  <div data-accordion="message" class="content">
    <form action="/form/submissions" method="post">

      <div class="input-group shadow">
        <label for="email-input">email</label>
        <input id="email-input" type="email" name="email" placeholder=">" required></input>
      </div>

      <div class="input-group shadow">
        <label for="phone-input">phone</label>
        <input id="phone-input" type="num" name="phone" placeholder=">" required></input>
      </div>

      <div class="input-group shadow">
        <label for="message-input">message</label>
        <textarea id="message-input" name="message" placeholder=">" required></textarea>
      </div>

      <div class="input-group shadow">
        <input type="submit" value="Send"></input>
      </div>
    </form>
  </div>
</div>
{% endblock %}
