{% extends "base.html" %}
{% block head %}
<title>Aidan Courtney</title>
<script defer src="index.js"></script>
{% endblock %}
{% block body %}
<div class="background"></div>

<div class="card nameplate">
  <h1>
    Aidan<br>
    Courtney
  </h1>

  <h2>
    Python<br>
    Dev
  </h2>
</div>

<div class='card accordion' data-accordion="contact">
  <button data-accordion="contact" class="toggle">Contact</button>
  <div data-accordion="contact" class="content">
    <ul>
      <li><a href="tel:6317048994">631-704-8994</a></li>
      <li><a href="mailto:contact@aidan.software">contact@aidan.software</a></li>
    </ul>
  </div>
</div>

<div class="card accordion" data-accordion="links">
  <button data-accordion="links" class="toggle">Links</button>
  <div data-accordion="links" class="content">
    <ul>
      <li><a href="https://github.com/aidaco">github</a></li>
      <li><a href="https://linkedin.com/in/aidan-courtney">linkedin</a></li>
    </ul>
  </div>
</div>

<div class='card accordion' data-accordion="message">
  <button data-accordion="message" class="toggle">Send a message</button>
  <div data-accordion="message" class="content">
    <form action="/api/messages" method="post">

      <label for="email">email</label>
      <input type="email" name="email" placeholder="email"></input>

      <label for="phone">phone</label>
      <input type="num" name="phone" placeholder="phone"></input>

      <label for="message">message</label>
      <textarea name="message" placeholder="message"></textarea>

      <input type="submit" value="Send"></input>
    </form>
  </div>
</div>
{% endblock %}
