{% extends "base.html" %}
{% block head %}
<title>Login</title>
<script src="login.js"></script>
{% endblock %}
{% block body %}
<div class="card shadow">
  <div class="title">
    <h1>Login</h1>
  </div>
  <form action="/form/login" method="post">
    <input type="text" name="next" value="{{ next_url }}" hidden></input>

    <div class="input-group shadow">
      <label for="username-input">username</label>
      <input id="username-input" type="text" name="username" placeholder="username"></input>
    </div>

    <div class="input-group shadow">
      <label for="password-input">password</label>
      <input id="password-input" type="password" name="password" placeholder="password"></textarea>
    </div>


    <div class="input-group shadow">
      <input type="submit" value="Submit"></input>
    </div>
  </form>
</div>
{% endblock %}
